
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}

.header>#logo {
  font-size: 44px;
}


.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 24px;
}

a {
  text-decoration: none;
  color: var(--white);
  margin-right: 24px;
  padding: 0 8px;
  font-size: 18px;
}

a:active,
a:hover {
  color: inherit;
  text-decoration: underline;
}

.search-bar {
  display: flex;
  padding: 8px 12px;
  margin-right: 30px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 3px;
  width: fit-content;
  border: 1px solid var(--greySecondary);
}

.search-bar > .icon {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}


.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-input > input {
  background-color: inherit;
  border: none;
  outline: none;
  margin: 0px 8px;
  font-size: 18px;
}


.search-bar:focus-within {
  border: 1px solid var(--white);
}