:root {
  --white: #e6e6e6;
  --black: #141414;
  --grey: #AAAAAA;
  --greySecondary: #383838;
  --blackSecondary: #212121;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  padding: 0 16px;
}

.content-margin {
  padding: 24px 0 64px 0;
}